DATABASE_URL="mysql://root:root@localhost:3307/"
DOCKER_DATABASE_URL="mysql://root:root@mysql:3306/"

API_URL="http://localhost:3000/"
DOCKER_API_URL="http://app:3000/"

DOCKER_GRCP_MICROSERVICE_URL="host.docker.internal:50052"
GRCP_MICROSERVICE_URL="localhost:50052"
GRCP_AUTHORIZATION="123456"
